.contact {
  &__head {
    height: 350px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  &__head img {
    width: 100%;
    object-fit: cover;
  }

  &__head h1 {
    display: block;
    position: absolute;
    left: 100px;
    top: 230px;
    font-size: 80px;
    font-weight: 500px;
    color: white;
  }

  &__body {
    margin: 0 100px;
    margin-top: 60px;
    padding: 50px 0;
    border-top: 1px solid #0085c7;
    color: #15394e;
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 900;
    font-size: 39px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__item {
    width: 50%;

    & p {
      width: 300px;
      padding-bottom: 15px;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 420px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 12px;
    margin-bottom: 30px;
  }

  &__textarea {
    box-sizing: border-box;
    width: 420px;
    height: 160px;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 30px;
  }
}
