.nav {
  width: 1440px;
  height: 100px;
  // padding: 15px 100px;
  background-color: #006a29;
  display: flex;
  justify-content: space-around;
  margin: auto;

  &__list {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    &__logodiv {
      // background-color: wheat;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 85px;
        height: 85px;
        margin-right: 20px;
      }
    }
  }

  &__item {
    margin-left: 30px;
  }

  &__register {
    position: absolute;
    top: 120px;
    width: 65%;
    margin: auto;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__login {
    position: absolute;
    top: 120px;
    width: 65%;
    margin: auto;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
