.nav {
  padding: 15px 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;

  &__list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  &__item {
    margin-left: 30px;
  }

  &__register {
    position: absolute;
    top: 120px;
    width: 65%;
    margin: auto;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__login {
    position: absolute;
    top: 120px;
    width: 65%;
    margin: auto;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
